@charset "utf-8";
/* CSS Document */

body {
  margin: 0;
}

#registration{
	padding-top:30px;
	padding-bottom:30px;
	max-width:800px;
}

.card-img-top {
width: 10%;
height: 40vh;
object-fit: cover;
}

.navbar-expand-lg,
.navbar-expand-md,
.navbar-expand-sm,
.navbar-expand-xl {
    padding-left: 100px;
    padding-right: 100px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
